@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLWNjcGFydG5lcnM6TFpoS2ttUTRTandYa2F2UUhpVWkwQXNuVTMzQkh4UjQ 
always-auth=true
